body {
  background-color:rgb(61, 61, 61);
}
h1 {
  font-family: "VT323", sans-serif;
  color: white;
font-size: 3em;
  text-align: center;
}

input[type="text"] {
  background: transparent;
  border: none;
  color: white;
  float: center;
  width: auto;
  height:200px;
  font-size: 36px;
  display: block;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 5px;
  background-color: black;
  color: white;
  font-family: "Baloo", cursive;
  position: absolute;
  width: 100%;
  margin-left: -5;
  bottom: 0px;
  left: 0px;
}
a.fawesome, f.awesome:hover, f.awesome:focus, f.awesome:active {
  text-decoration: none;
  color: white;
}
